{
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "all",
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "singleAttributePerLine": true,
    "requirePragma": false
}