.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 600px;
    margin: 10px auto;   
    padding: 10px;
    border: 1px solid #000;
    font-size: 24px;
}

.form button{
    padding: 5px;
    margin-bottom: 5px;
    font-size: 24px;
    cursor: pointer;
}

.form-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.form-item span{
    width: 200px;
}

.form-item input{
    width: 100%;
    padding: 15px;
    font-size: 24px;
}