.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 10px 0px 10px;
    border-bottom-right-radius: 20px;
    font-size: 18px;
    width: 380px;
    border-left: 5px solid red;

    -webkit-box-shadow: 16px 16px 25px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 16px 16px 25px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 16px 16px 25px 0px rgba(34, 60, 80, 0.2);
}

.formItem{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.formItem span{
    font-size: 16px;
    white-space: nowrap;
    font-weight: 500;
}

.formItem input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin: 10px;
    outline: none;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #0000006c;
}

.formItem input::placeholder {
    font-weight: bold;
    color: #e73d4e;
}

.formItem input:focus{
    border: 1px solid #0d6dfd69;
}

.formItem button{
    cursor: pointer;
    outline: none;
    padding: 8px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffffe8;
    border-radius: 5px;
}


.add{
    background: #198754;
    border: 1px solid #125c39;
    width: 100%;
}

.dell{
    background: #e73d4e;
    border: 1px solid #a52c38;
    width: 100px;
}

.send{
    cursor: pointer;
    background-color: #0d6dfdda;
    border: 1px solid #154da0;
    padding: 8px;
    font-size: 14px;
    color: #ffffffe8;
    border-radius: 5px;
    width: 200px;
}

.send:hover{
    background-color: #0d6efd;
}

.dell:hover{
    background-color: #dc3545;
}

.add:hover{
    background-color: #125c39;
}

.overflow{
    max-height: 160px;
    overflow-y: scroll;
    padding: 5px;
}

.overflow::-webkit-scrollbar {
    width: 8px;
}

.overflow::-webkit-scrollbar-track {
    background: #fff;        
}

.overflow::-webkit-scrollbar-thumb {
    background-color: #0d6efd;    
    border-radius: 100px;
    border: 1px solid #000;   
}

.resizable{
    cursor: n-resize;
    height: 2px;
}

.error{
    display: flex;
    font-weight: bold;
    color: #e73d4e;
}